footer(class='footer') 
  a(class='fcont' href='https://github.com/00010103/WT.CW2.00010103') This website was created to fulfill Web Technology module’s requirements and does not represent an actual company or service. | Copyright © 2021 00010103