doctype html
html
  head
    title Home
    link(rel='stylesheet' type='text/css' href='/assets/styles/style.css')
  body.page-create
    header
      h1
        a(href='/') Quake's Blog
      ul
        li
          a(class='btnSub' href='https://github.com/00010103/WT.CW2.00010103').button Git-Hub
        li
          a(href='/api/v1/posts') API 

    main
      block content


      