extend home


block content
  
  p(class='maintxt') Your next interactive <br>experience.
    div.img
  div.btns
    a(class='btn' href='/WT.CW2.00010103/create').button Add Post
    a(class='btn1' href='/posts1').button View Posts 
  
  include footer.pug
  
  

